body {
    font-family: 'Lato', sans-serif !important;
}

header {
    height: 500px;
    text-align: center;
    background-color: #4b7bec;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 56px;
    h1 {
        font-weight: 700;
        line-height: 10;
        color: white;
    }
}
.subHeader {
    padding-top: 30px;
    background-color: #45aaf2;
    min-height: 180px;
}
.mainContent {
    .card {
        position: relative;
        height: 250px;
        background-size: cover;
        background-position: center;
        background-color: #20bf6b;
        border-radius: 8px;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 30px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(107, 107, 107, 0.49);
            border-radius: 8px;
        }
        .date {
            display: inline-block;
            font-size: 26px; 
            color: white;
            width: 80px; 
            line-height: 1.2;
            z-index: 2;
        }
        .title {
            position: absolute; 
            bottom: 5px; 
            right: 10px;
            font-weight: bold; 
            color: #fff;
            z-index: 2;
            text-transform: uppercase
        }
    }
}